.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  font-family: bauer;
}

.header {
  padding-left: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


@font-face {
  font-family: bauer;
  src: url(../public/BAUER.TTF);
}
@font-face {
  font-family: kevlar;
  src: url(../public/KevlarUnderwear.ttf);
}